{%extends 'base.html'%}

{%block content%}
<div id="introduction">
    <div class="row">
        <div class="col-md-6">
            <!-- Column 1 content goes here -->
            <h1>David Liu</h1>
            <p>Ruffy is a locality in Victoria, Australia. It straddles the border of the Shire of Strathbogie and the Shire of Murrindindi, 175 kilometres (109 mi) north of the state capital, Melbourne.

At the 2016 census, Ruffy and the surrounding area had a population of 112.[1]

The Post Office opened on 1 April 1881 as Terip Terip, was renamed Ruffy in 1895, and closed in 1974.[2]

Ruffy was the childhood home of Leslie Cecil Maygar, awarded the Victoria Cross in the Second Boer War.[3]</p>
        </div>
        <div class="col-md-6">
            <!-- Column 2 content goes here -->

            <img src="./static/ruffy.jpg" class="img-thumbnail" alt="...">
            <p>pic to be updated</p>
        </div>
    </div>
</div>

<div id="certs">
    <div>certs</div>
    <div>
        <img src="{{ url_for('static', filename='image.png') }}" alt="...">
    </div>
</div>

<div>
    <p>data processing</p>    
</div>
{%endblock%}