{%extends 'base.html'%}

{%block body%}
<div id="introduction" class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Column 1 content goes here -->
            <p>brief introduction</p>
        </div>
        <div class="col-md-6">
            <!-- Column 2 content goes here -->
            <img src="..." class="img-thumbnail" alt="...">
            <p>pic to be updated</p>
        </div>
    </div>
</div>

<div id="certs">
    <div>certs</div>
    <div>
        <img src="{{ url_for('static', filename='image.png') }}" alt="...">
    </div>
</div>

<div>
    <p>data processing</p>    
</div>
{%endblock%}